#pragma once


#define SVN_REV		"$WCREV$"
#define SVN_DATE	"$WCDATE$"
#define SVN_DATENOW	"$WCNOW$"
#define SVN_RANGE	"$WCRANGE$"
#define SVN_MIXED	"$WCMIXED?Mixed revision WC:Not mixed$"
#define SVN_URL		"$WCURL$"
#define SVN_MODIFIED	"$WCMODS?Modified:Not modified$"
